{# empty Twig template #}
{% extends "base.html.twig"%}
{% block title %}Confirmation {% endblock %}
{% block body %}
    <div id="confirm1">
    <h1>Bonjour</h1>
    <p>Votre Message a été envoyé avec succes.</p>

  
    <p>Merci!</p>
    </div>
{% endblock %}