{# empty Twig template #}
{% extends "base.html.twig"%}
{% block title %}
    Confirmation d'inscription
    {% endblock%} 
{% block body %}

        <h2 style="color: red ">Compte Enregistrer</h2>

       
{% endblock %}