{# empty Twig template #}
{% extends 'base.html.twig'%}

{% block title %}Tableau des Scores{% endblock %}{# empty Twig template #}
{% block body %}
 <div id="confirm" class="container">
       <div class="row">
           <div class="col-sm-4">
               <h2 class="page-header">Contact</h2>
 
                   {{form_start(form)}}
                   {{form_widget(form)}}
                   {{form_end(form)}}
                     
 
           </div>
       </div>
</div>
               
         

{% endblock %}